<div class="grid-gallery">

	<ul class="grid">
	
		<div class="block block-description">
			<header>
				<p class="block-title">{{ data.description_title }}</p>
			</header>
			<div class="text">{{ data.description_text }}</div>
			<p class="sub-text">{{ data.description_sub_text }}</p>
		</div>

		{% for picture in pictures|slice(0,4) %}
		<li class="popin-button popin-button-gallery">
			<img data-src="{{ picture.picture.url }}" />
			<div class="fullscreen-button">
				{{ icon('fullscreen-icon') }}
				<span>Voir la gallerie</span>
			</div>
		</li>
		{% endfor %}
	</ul>

	<div class="popin popin-gallery" data-popin="gallery">
		{% include 'components/gallery.html.twig' with {
			pictures: data.pictures_gallery
		} %}
		<div class="close-button popin-close-button">
			<span></span>
			<span></span>
		</div>
	</div>
</div>