<header class="main-header">

	<div class="main-logo"></div>

	<div class="main-menu-button">
		<div class="open-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="close-button">
			<span></span>
			<span></span>
		</div>
	</div>

	<div class="main-menu">
		<ul>
			<li><a href="{{ ROOT_WEB }}">Accueil</a></li>
			<li><a href="{{  ROOT_WEB ~ '/realisations' }}">Réalisations</a></li>
			<li><a href="{{  ROOT_WEB ~ '/agence' }}">Agence</a></li>
			<li><a href="{{  ROOT_WEB ~ '/talents' }}">Talents</a></li>
			<li><a href="{{  ROOT_WEB ~ '/perspective' }}">Perspective</a></li>
			<li><a href="{{  ROOT_WEB ~ '/contact' }}">Contact</a></li>
		</ul>

		<div class="contact">
			<p>
				<strong>Contactez-nous</strong>
				<a href="tel:" target="_blank">{{ '+33 (0)1 48 51 16 14' }}</a>
				<a href="mailto:" target="_blank">{{ 'contact@malabardesign.fr' }}</a>
			</p>
			<p>
				<strong>Suivez-nous</strong>
				<a href="" target="_blank">Facebook</a>
				<a href="" target="_blank">Twitter</a>
				<a href="" target="_blank">Newsletter</a>
			</p>
		</div>
	</div>
</header>