<footer class="main-footer">
	<div class="center">
		<a href="{{ ROOT_WEB }}" class="logo">
			<div class="inner-logo">
				{{ icons('malabar-logo') }}
				<p>&copy; Malabar Design</p>
			</div>
		</a>

		<div class="links">
			<p class="address">
				Malabar Design<br/>
				94, rue des Sorins<br/>
				93100<br/>
				Montreuil<br/>
			</p>
			<ul>
				<li><a href="https://www.facebook.com/MalabarDesign " target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/Malabardesign" target="_blank">Twitter</a></li>
				<li><a href="https://www.instagram.com/malabardesign/" target="_blank">Instagram</a></li>
				<li class="popin-button popin-button-inscription">Newsletter</li>
				<li><a href="{{ ROOT_WEB ~ '/communiques-de-presse' }}">Presse</a></li>
				<li><a href="{{ ROOT_WEB ~ '/mentions-legales' }}">Mentions légales</a></li>
				<li>Membre de l'<a href="http://aacc.fr/" target="_blank"><span>AACC</span></a></li>
			</ul>
		</div>

		<div class="cta-contact">			
			<strong>New business</strong>
			<a href="{{ ROOT_WEB ~ '/contact' }}">Faites de votre prochain grand projet un grand succès ! {% include 'components/arrow.html.twig' with {direction: 'right'} %}</a>
		</div>
	</div>
</footer>