<header class="main-header">

	<a href="{{ ROOT_WEB }}" class="main-logo">
		{{ icon('malabar-logo') }}
		<div class="text">
			<div class="mask"><span>Malabar Design</span></div>
			<div class="mask"><span>Your digital partner</span></div>
		</div>
	</a>

	<div class="main-menu-button">
		<div class="open-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="close-button">
			<span></span>
			<span></span>
		</div>
	</div>

	<div class="main-menu">
		<ul>
			<li><a href="{{ ROOT_WEB }}"><p><span>Accueil</span></p></a></li>
			<li>
				<p><span>Réalisations</span></p>
				<div class="sub-menu">
					<ul>
						{% for casestudy in global.casestudies %}
						<li><a href="{{ casestudy.permalink }}"><p><span>{{ casestudy.title }}</span></p></a></li>
						{% endfor  %}
					</ul>
					<p class="back-button">{% include 'components/arrow.html.twig' with {type: 'long', direction: 'left'} %}Retour</p>
				</div>
			</li>
			<li><a href="{{  ROOT_WEB ~ '/agence' }}"><p><span>Agence</span></p></a></li>
			<li><a href="{{  ROOT_WEB ~ '/talents' }}"><p><span>Talents</span></p></a></li>
			<li><a href="{{  ROOT_WEB ~ '/perspective' }}"><p><span>Perspective</span></p></a></li>
			<li><a href="{{  ROOT_WEB ~ '/contact' }}"><p><span>Contact</span></p></a></li>
		</ul>

		<div class="contact">
			<p>
				<strong>Contactez-nous</strong>
				<a href="tel:" target="_blank">{{ '+33 (0)1 48 51 16 14' }}</a>
				<a href="mailto:" target="_blank">{{ 'contact@malabardesign.fr' }}</a>
			</p>
			<p>
				<strong>Suivez-nous</strong>
				<a href="" target="_blank">Facebook</a>
				<a href="" target="_blank">Twitter</a>
				<a href="" target="_blank">Newsletter</a>
			</p>
		</div>
	</div>
</header>