<div class="slider">
	<ul>
		{% for slide in slides %}
		<li>
			<div class="slide-content">
				<p class="title">{{ slide.title }}</p>
				{% if slide.description %}
				<div class="description">{{ slide.description|raw }}</div>
				{% endif %}
				{% if slide.link %}
				<a href="{{ slide.link }}">
					Découvrir
					{% include 'components/arrow.html.twig' with {type: 'long'} %}
				</a>
				{% endif %}
			</div>
			<img src="{% if slide.picture %}{{ slide.picture }}{% else %}{{ ASSETS ~ 'temp/pic.jpg' }}{% endif %}" />
		</li>
		{% endfor %}
	</ul>
	<nav class="slider-nav">
		<div class="slider-nav-item slider-prev">{% include 'components/arrow.html.twig' with {direction: 'left'} %}</div>
		<div class="slider-nav-item slider-next">{% include 'components/arrow.html.twig' %}</div>
	</nav>
</div>