<div class="slider">
	<ul>
		{% for slide in slides %}
		<li>
			<div class="slide-content">
				<p class="title"><span class="inner">{{ slide.title }}</span></p>
				{% if slide.description %}
				<div class="description"><div class="inner">{{ slide.description|raw }}</div></div>
				{% endif %}
				{% if slide.link %}
				<a href="{{ slide.link }}">
					<span class="inner">
						Découvrir
						{% include 'components/arrow.html.twig' with {type: 'long'} %}
					</span>
				</a>
				{% endif %}
			</div>
			<div class="picture-container">
				<img src="{% if slide.picture %}{{ slide.picture }}{% else %}{{ ASSETS ~ 'temp/pic.jpg' }}{% endif %}" />
			</div>
		</li>
		{% endfor %}
	</ul>
	<nav class="slider-nav">
		<div class="slider-nav-item slider-prev">{% include 'components/arrow.html.twig' with {direction: 'left'} %}</div>
		<div class="slider-nav-item slider-next">{% include 'components/arrow.html.twig' %}</div>
	</nav>
</div>