{% extends ajax ? "default/empty.html.twig" : "default/layout.html.twig" %}

{% block content %}

	{% include 'components/hero-picture.html.twig' with {
		subhead: data.header_subhead,
		title: data.header_title,
		picture: data.header_background.url,
		video: data.header_background_video.url
	} %}

	<div class="page-inner">
	
		<div class="block block-about">
			<header>
				<p class="block-title">{{ data.description_title }}</p>
			</header>
			<div class="text">{{ data.description_text }}</div>
			<p class="sub-text">{{ data.description_sub_text }}</p>
		</div>

		<div class="block block-slider">
			{% include 'components/slider.html.twig' with {
				slides: data.carousel_slides,
				timer: 4000
			} %}
			<ul class="breadcrumb center">
				{% for slide in data.carousel_slides %}
				{% set lastItem = not (loop.index < data.carousel_slides|length) %}
				<li>
					<p>{{ slide.title }}</p>
					{% if not lastItem %}
					<span class="progress-line"></span>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="block block-accordion">
			<header>
				<p class="block-title">{{ data.accordion_title }}</p>
			</header>
			{% include 'components/accordion.html.twig' with {
				items: data.accordion_blocs
			} %}
		</div>

		<div class="block block-references">
			<header>
				<p class="block-title">Quelques unes de nos références</p>
			</header>
			<ul>
				{% for ref in data.references %}
				<li><img src="{{ ref.logo.url }}" /></li>
				{% endfor %}
			</ul>
		</div>

		{% include 'components/button-bottom.html.twig' with {
			text: '<span>Découvrez nos</span><strong>réalisations</strong>',
			src: data.header_background.url
		} %}

	</div>

{% endblock %}