{% extends ajax ? "default/empty.html.twig" : "default/layout.html.twig" %}

{% block content %}

	{% include 'components/hero-picture.html.twig' with {
		subhead: data.header_subhead,
		title: data.header_title,
		picture: data.header_background.url,
		video: data.header_background_video.url,
		small: true
	} %}

	<div class="page-inner">
		<header>{{ data.description|raw }}</header>

		<div class="contact-links-container">
			<figure>
				<img src="{{ data.picture.url }}">
			</figure>
			<div class="contact-links">
				<div class="specific-contact">
					<p>
						<strong>New business</strong>
						<a href="mailto:{{ data.email_new_business }}"><span>{{ data.email_new_business }}</span></a>
					</p>
					<p>
						<strong>New job</strong>
						<a href="mailto:{{ data.email_new_job }}"><span>{{ data.email_new_job }}</span></a>
					</p>
				</div>
				<p class="general-contact">
					<strong>Nous contacter</strong>
					<a href="{{ data.address.link }}" target="_blank">{{ data.address.first_line }}<br/>{{ data.address.second_line }}</a>
					<a href="tel:{{ data.phone }}" target="_blank">{{ data.phone }}</a>
					<a href="mailto:{{ data.email }}" target="_blank"><span>{{ data.email }}</span></a>
					<a href="{{ ata.address.link }}" target="_blank"><span>{{ icons('map-marker') }}Google Maps</span></a>
				</p>
			</div>
		</div>

		<ul class="social-links">
			<li><a href="https://www.facebook.com/MalabarDesign/" target="_blank">Facebook</a></li>
			<li><a href="https://twitter.com/malabardesign" target="_blank">Twitter</a></li>
			<li><a href="https://www.instagram.com/malabardesign/" target="_blank">Instagram</a></li>
		</ul>
	</div>

{% endblock %}