<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
	{{ include('partials/head.html.twig') }}
</head>
<body>


<div class="icons-container">
	{{ include('partials/icons.html.twig') }}
</div>

{{ include('components/main-header.html.twig') }}

<div class="page-container">
	<div class="page-{{ viewName }}">
		{% block content %}{% endblock %}
	</div>
</div>

{{ include('components/main-footer.html.twig') }}

{{ include('partials/foot.html.twig') }}
</body>
</html>