    
    <meta charset="utf-8">
        <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    
    <link rel="canonical" href="{{ getUrl() }}" />

    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- SOCIAL DATAS -->

    <!-- FACEBOOK -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ meta.title }}">
    <meta property="og:url" content="{{ getUrl() }}">
    <meta property="og:image" content="{{ ROOT_WEB }}/medias/facebook-share.jpg">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:description" content="{{ meta.description }}">

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ global.twitter.username }}">
    <meta name="twitter:title" content="{{ meta.title }}">
    <meta name="twitter:description" content="{{ meta.description }}">
    <meta name="twitter:image:src" content="{{ meta.share_image }}">

    <!-- FAVICONS -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon.ico">

    <link rel="icon" type="image/png" href="/assets/favicons/favicon-57x57.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-70x70.png"/>
